$white: hsl(0, 0%, 100%);
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$darkblue-body-BG: hsl(217, 54%, 11%);
$darkblue-card-BG: hsl(216, 50%, 16%);
$darkblue-lines: hsl(215, 32%, 27%);