@mixin sizing-image($width, $height) {
    width: $width;
    height: $height;
}

@mixin rounded-corners($radius) {
    border-radius: $radius;
}

@mixin margins($top: 1rem, $right: 0, $bottom: 0, $left: 0) {
    margin: $top $right $bottom $left;
}