@use '../abstracts' as *;

.nft-card {
    h2 {
        color: $white;
    }

    p {
        color: $darkblue-lines;
    }

    .owner {
        span {
            color: $white;
        }
    }
}

.nft-price {
    p {
        color: $cyan;
    }
}